---
import { PostList } from '../components/post-list';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>luna's blog</title>
    <style>
      body {
        font-family: 'Courier New', monospace;
        font-size: 0.9rem;
        background-color: #121212;
        color: #e0e0e0;
        line-height: 1.4;
        margin: 2rem;
      }
      a:link {
        color: #55cdfc;
        text-decoration: none;
      }
      a:visited {
        color: #f7a8b8;
      }
      a:hover {
        color: #b19cd9;
        text-decoration: underline;
      }
      h1,
      h2 {
        color: #b19cd9;
        margin-bottom: 1rem;
      }
    </style>
    <script defer data-domain="blog.imlunahey.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <PostList client:only="react" />
  </body>
</html>
