---
import { Post } from '../../../components/post';
import type { BlogEntry } from '../../../types/blog-entry';

export const prerender = true;

export async function getStaticPaths() {
  const response = await fetch(
    'https://bsky.social/xrpc/com.atproto.repo.listRecords?' +
      new URLSearchParams({
        repo: 'did:plc:k6acu4chiwkixvdedcmdgmal',
        collection: 'com.whtwnd.blog.entry',
      }).toString(),
    {
      method: 'GET',
      headers: {
        Accept: 'application/json',
      },
      cache: 'no-store',
    },
  ).then((response) => response.json());

  return (response.records as BlogEntry[])
    .filter((entry) => entry.value.visibility === 'public')
    .map((entry) => ({
      params: { id: entry.uri.split('/').pop() },
    }));
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>luna's blog</title>
    <style>
      body {
        font-family: 'Courier New', monospace;
        font-size: 0.9rem;
        background-color: #121212;
        color: #e0e0e0;
        line-height: 1.4;
        margin: 2rem;
      }
      a:link {
        color: #55cdfc;
        text-decoration: none;
      }
      a:visited {
        color: #f7a8b8;
      }
      a:hover {
        color: #b19cd9;
        text-decoration: underline;
      }
      h1,
      h2 {
        color: #b19cd9;
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <Post client:only="react" />
  </body>
</html>
